*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
    /* max-width: 100vw;
    max-height: 100vh; */
}
body{
    display: flex;
}
.header{
    display: flex;
    width: 20%;
    height: 100vh;
    position: static;
    background-color: #000000;
    color: white;
}
.header__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 30% auto;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}
.header__logo img{
    width: 60%;
    border-radius: 50%;
    margin-bottom: 15%;
    cursor: pointer;
}
.header__logo-title {
    font-size: 2.0rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}
.header__logo-title a{
    text-decoration: none;
    color: white;
}
.header__menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;

}


.header__menu-link{
    display: flex;
    padding: 0 auto;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    height: 7rem;
}
.header__menu-link a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.header__menu-link:hover{
    cursor: pointer;
    background: rebeccapurple;
}
.network {
    text-align: center;
}
.network img {
    margin: 0 3%;
}





.content{
    flex-direction: row;
    width: 80%;
    font-size: 3.9rem;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 2%;
}
.about-me {
    padding-top: 5%;
    width: 100%;
    max-width: 1080px;
    /* padding: 0 auto; */
    margin: 0 auto;
}
.about-me__container-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;

}
.about-me__img {
    width: 50%;
    object-fit: contain;
}
.about-me__text{
    font-family: sans-serif;
    font-size: 2.6rem;
    padding: 0 2%;
    width: 50%;
    /* text-align: justify; */
}

.download-cv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 6rem;
    text-decoration: none;
    background-color: rebeccapurple;
    margin: 10rem auto 10rem auto;
}
.download-cv span{
    font-size: 2rem;
    color: white;

}


.skills {
    max-width: 1080px;
    margin: 10rem auto;
    padding: 5rem 0;
    /* transition: all 2s; */
}
.skills__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.skills-container__box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    min-width: 300px;
    width: 100%;
    height: 300px;
    max-width: 450px;
    /* border: red solid 1px; */
    margin: 0 auto;
    padding: 1% 5%;
}
.skills-box__img{
    height: 40%;
    object-fit: cover;
}


.contact{
    max-width: 1080px;
    margin: 10rem auto;
    padding: 5rem 0;
}
.contact-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    width: 90%;
    margin: 1rem auto;
}
.contact-text p{
    display: flex;
    width: 400px;
    height: 40%;
}
.contact-text img{
    width: 500px;
    height: 60%;
}
.contact__container-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact-network {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40rem;
    max-width: 40rem;
    height: 5rem;
    font-size: 2rem;
    margin: 3rem auto;
    font-weight: bold;
}
.contact-network span{
    font-weight: normal;
    font-size: 1.8rem;
    margin-left: 1rem;
}
